
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

<header>
<h1 align="center" > Book store app </h1>
</header>

<main>
  <div align='center'>
    <h4>New Book</h4>
    <form action='/addBook' method="post">
    <input name="title" placeholder="title" required /><br>
   <input name="isbn" placeholder="isbn" required /><br>
   <input name="authors" placeholder="authors (comma seprated)" required /><br>
   <textarea name="description" placeholder="description" required rows="5" cols="" tabindex=""></textarea>
     <br><br> <input  type="submit" value="Add"/>
    </form><br>
    </div>
    </main>
    </body>
    </html>
